In [1]:
%autosave 5

Autosaving every 5 seconds

In [2]:
import numpy as np
import pandas as pd

In [37]:
dt = pd.date_range(start='2023-02-17',
                   periods=30)
len(dt)

30

In [47]:
df = pd.DataFrame(dt)
df['ID'] = range(len(dt))
df['Done'] = 'Sim/Nao'
df['Obs'] = ''
df = df[['ID', 0, 'Done', 'Obs']]
df.columns = ['ID', 'Data', 'Feito', 'Obs']
def format_date(val):
    return str(val).split(' ')[0]
df['Data'] = df['Data'].apply(format_date)
df.to_excel('Done.xlsx', index=False)
df

    ID        Data    Feito Obs
0    0  2023-02-17  Sim/Nao
1    1  2023-02-18  Sim/Nao
2    2  2023-02-19  Sim/Nao
3    3  2023-02-20  Sim/Nao
4    4  2023-02-21  Sim/Nao
5    5  2023-02-22  Sim/Nao
6    6  2023-02-23  Sim/Nao
7    7  2023-02-24  Sim/Nao
8    8  2023-02-25  Sim/Nao
9    9  2023-02-26  Sim/Nao
10  10  2023-02-27  Sim/Nao
11  11  2023-02-28  Sim/Nao
12  12  2023-03-01  Sim/Nao
13  13  2023-03-02  Sim/Nao
14  14  2023-03-03  Sim/Nao
15  15  2023-03-04  Sim/Nao
16  16  2023-03-05  Sim/Nao
17  17  2023-03-06  Sim/Nao
18  18  2023-03-07  Sim/Nao
19  19  2023-03-08  Sim/Nao
20  20  2023-03-09  Sim/Nao
21  21  2023-03-10  Sim/Nao
22  22  2023-03-11  Sim/Nao
23  23  2023-03-12  Sim/Nao
24  24  2023-03-13  Sim/Nao
25  25  2023-03-14  Sim/Nao
26  26  2023-03-15  Sim/Nao
27  27  2023-03-16  Sim/Nao
28  28  2023-03-17  Sim/Nao
29  29  2023-03-18  Sim/Nao

In [ ]:
temp = pd.DataFrame(data={'temp_c': temp_c}, index=dt)
temp

In [48]:
df = pd.read_csv('BL-Flickr-Images-Book.csv')
df.shape

(8287, 15)

In [49]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [50]:
to_drop = ['Edition Statement', 'Corporate Author',
           'Corporate Contributors', 'Former owner',
           'Engraver', 'Contributors', 'Issuance type',
           'Shelfmarks']
df.drop(to_drop, axis=1, inplace=True)

In [54]:
# df.drop(columns=to_drop, inplace=True)

In [51]:
df.shape

(8287, 7)

In [52]:
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [55]:
df['Identifier'].unique()

array([    206,     216,     218, ..., 4159563, 4159587, 4160339],
      dtype=int64)

In [56]:
df['Identifier'].is_unique

True

In [58]:
df = df.set_index('Identifier')
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [59]:
df.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

In [60]:
# df.set_index('Identifier', inplace=True)

In [64]:
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [65]:
regex = r'^(\d{4})'

In [66]:
extr = df['Date of Publication'].str.extract(regex,
                                             expand=False)
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [67]:
df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].dtype

dtype('float64')

In [70]:
df['Date of Publication'].isnull().sum()  / len(df)

0.11717147339205986

In [71]:
df['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

In [72]:
df.loc[4157862]

Place of Publication                                  Newcastle-upon-Tyne
Date of Publication                                                  1867
Publisher                                                      T. Fordyce
Title                   Local Records; or, Historical Register of rema...
Author                      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [73]:
pub = df['Place of Publication']
london = pub.str.contains('London')
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [74]:
oxford = pub.str.contains('Oxford')
oxford

Identifier
206        False
216        False
218        False
472        False
480        False
           ...
4158088    False
4158128    False
4159563    False
4159587    False
4160339    False
Name: Place of Publication, Length: 8287, dtype: bool

In [77]:
df['Place of Publication'] = np.where(london, 'London',
         np.where(oxford, 'Oxford',
                  pub.str.replace('-', ' ')))

In [78]:
df['Place of Publication'].head()

Identifier
206    London
216    London
218    London
472    London
480    London
Name: Place of Publication, dtype: object